<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-2">
    <br>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div>
        <label for="title" class="form-label">Title</label>
        <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" required/>
      </div>
      <br>

      <div>
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required></textarea>
      </div>
      <br>

      <!-- <div>
        <label for="image" class="form-label">Image Link</label>
        <input name="listing[image][url]" placeholder="Enter image URL/Link" type="text" class="form-control"/>
      </div>
      <br> -->

      <div>
        <label for="image" class="form-label">Upload Image</label>
        <input name="listing[image]" type="file" class="form-control" required/>
      </div>
      <br>

      <div>
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]" placeholder="Enter price" type="number" class="form-control" required/>
      </div>
      <br>

      <div>
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control" required/>
      </div>
      <br>

      <div>
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]" placeholder="Enter country" type="text" class="form-control" required/>
      </div>
      <br>

      <button class="btn btn-dark add-btn">Add</button>
      <br> <br>
    </form>
  </div>
</div>
